body{
    background-color: #282c34;
    color: white;
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 1em;
    overflow: auto;
    margin-bottom: 20vh;
}

.App{
    width:800px;
    max-width: calc(100vw - 2em);
    margin: 0 auto;
}

.input-area{
    border: lightgray 1px solid;
    border-radius: 1em;

    padding:1em;
    background-color: white;
    color:black;
    text-overflow: clip;
    overflow: hidden;
    max-height: 30vh;
    overflow-y: scroll;
}
/* remove highlight on focus*/
.input-area:focus{
    outline: none;
}

.input-area.empty:after{
    content: 'Type text here...';
    color: lightgray;
    display: block;
}

.textButton{
    background-color: grey;
    color: white;
    border: none;
    border-radius: 1em;
    padding: 1em;
    margin-top: 1em;
    margin-right: 1em;
    cursor: pointer;
}
.textButton:active{
    transform: translateY(2px);
}

.Settings{
    margin-top: 1em;
}